<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviews Page</title>
  <link rel="stylesheet" href="/css/reviews-style.css">

  <script>
    window.RESTAURANT_ID = "<%= restaurantId %>";
  </script>
  <script>
    window.CURRENT_USER_ID = "<%= user?.id || '' %>";
  </script>
</head>
<body>
  <header>
    <h1>CharlotteEats</h1>
  </header>

  <div class="header-links-flex">
    <a href="/"><h2>Login</h2></a>
    <hr width="2" size="40"/>
    <a href="/restaurants"><h2>Restaurants List</h2></a>
    <hr width="2" size="40"/>
    <h2><a href="/profile">User Profile</a></h2>
    <hr width="2" size="40"/>
    <nav>
      <div class="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>

  <main>

    <section class="reviews">
      <h2>Restaurant Reviews</h2>
    </section>

    <div class="review-btn-container">
      <button class="new-review-btn">Add a Review</button>
    </div>

    <section class="new-review-section hide">
      <form class="new-review-form">
        <input id="title" name="title" type="text" minlength="3" placeholder="Review Title">
      
        <input id="rating" name="rating" type="number" min="1" max="5" placeholder="Rating (1-5)" required>
      
        <textarea id="body" name="body" minlength="10" placeholder="Review Content" required></textarea>
      
        <input type="submit" id="submit-btn" value="Submit Review">
      </form>
    </section>

  </main>
</body>
</html>

<script src="/reviews.js"></script>