<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviews Page</title>
  <link rel="stylesheet" href="/css/reviews-style.css">
</head>
<body>
  <header>
    <h1>CharlotteEats</h1>

    <div class="header-links-flex">

      <a href="/"><h2>Login</h2></a>

      <hr width="2" size="40"/>
      <a href="/restaurants"><h2>Restaurants List</h2></a>
      <hr width="2" size="40"/>
      <h2><a href="/profile">User Profile</a></h2>

      <hr width="2" size="40"/>

      <nav>
        <div class="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>

    </div>

  </header>

  <main>

    <section class="reviews">
      <h2 id="restaurant-review-title">Restaurant Reviews</h2>
    </section>

    <button class="new-review-btn">Add a Review</button>

    <section class="new-review-section hide">

      <form class="new-review-form">
        <input id="review-title" name="review-title" type="text" minlength="3" placeholder="Review Title" required>
        <textarea id="review-content" name="review-content" type="text"
        minlength="10" placeholder="Review Content" required>
      </textarea>
      <input type="submit" id="submit-btn">
      </form>

    </section>

  </main>
</body>
</html>