:root {
  --text-color: black;
  --background-color: lightblue;
  --form-background-color: rgb(175, 225, 175);
  --pop-color: rgb(100, 149, 237);
  --content-height: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color: var(--text-color);
}

h1 {
  text-align: center;
  /* margin-left: 175px;
  margin-right: 175px;
  margin-top: 15px; */
  margin: 15px auto 0 auto;
  padding: 10px;
  max-width: 600px;
  background: var(--background-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h2, h3 {
  color: var(--text-color);
  text-align: center;
}

hr {
  border: 1px solid var(--pop-color);
}

.header-links-flex {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: var(--background-color);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 2px;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}

.hamburger-menu span {
  height: 5px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 25px;
  position: absolute;
  margin-top: 40px;
  margin-right: 10px;
  top: -50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamburger-menu span:nth-child(1){
  top: -25%;
}

.hamburger-menu span:nth-child(3){
  top: -75%;
}

.hamburger-menu.active span:nth-child(1){
  top: -50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2){
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3){
  top: -50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

main {
  width: 80%;
  margin: 1rem auto;
}

.reviews {
  border: 3px var(--background-color) solid;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(17, 12, 46, 0.8);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.review p {
  line-height: 1.5;
}

.new-review-section {
  border: 3px var(--background-color) solid;
  padding: 1rem;
}

.new-review-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#review-title {
  width: 100%;
  line-height: 3;
  border: 3px var(--background-color) solid;
}

#review-content, textarea {
  width: 100%;
  height: 8rem;
  border: 3px var(--background-color) solid;
}

#submit-btn {
  background-color: var(--pop-color);
  color: var(--text-color);
  border: none;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.review-btn-container {
  display: flex;
  justify-content: flex-end;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-review-btn {
  background-color: var(--pop-color);
  color: var(--text-color);
  border: none;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.delete-btn {
  color: var(--pop-color);
  font-size: 1.2rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-btn:hover {
 font-weight: bold;
} 

.more-less-btn, .new-btn, #submit-btn {
  background-color:  var(--pop-color);
  color: var(--text-color);
  border: none;
  padding: 0.5em;
  margin-top: 0.5rem;
}

.more-less-btn {
  align-self: start;
}


.new-btn {
  font-size: 1rem;
}

.hide {
  display: none;
}